header {
        width: 100%;
        padding-top: 180px;
        padding-bottom: 200px;
}
.home-header {
    background: url('../../static/img/main-bg.jpg') no-repeat 100%/cover;
}
.title {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    color: #fff;
}
.subtitle {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    color: #fff;
    margin-top: 35px;
}

.home-btn {
    margin: 0 auto;
    margin-top: 18px;
    display: block;
    padding-top: 5px;;
    text-align: center;
    text-decoration: none;
    color:#fff;
    font-size: 14px;
    width: 120px;
    height: 30px;
    border: 1px solid #fff;
    border-radius: 3px;
}