nav {
    margin: 0 150px;
    display: flex;
    justify-content: left;
    padding-top: 30px;
    z-index: 2;
    position: absolute;
}
.menu {    
    &-list{
        width: 355px;
        display: flex;
        justify-content: space-between;
        align-items: end;
        &__item{
            list-style: none;
            position: relative;
            
            a{
                font-size: 12px;
                text-decoration: none;
                font-weight: 400;
                font-size: 12px;
                text-decoration: none;
                color: #fff;
            }
            .logo{
                &-img{
                    width: 35px;
                    height: 35px;
                    position: absolute;
                    left: -30px;
                    bottom: -5px;
                }
                
            }
            
        }
    }
    
}

.page {
    position: relative;
    
}

.black {
    a{
        color: #000;
    }
}