.list{
    &-wrapper{
        width: fit-content;
        margin: 0 auto;
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(3, 220px);
        row-gap: 60px;
        column-gap: 71px;
        justify-items: center;
    }
}